body {

    background-color: rgb(222, 219, 219);

    margin-top: 80px;
    padding: 10px;

    height: 85%;

    display: block;
}
header {
    background-color: #34495e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

.logo-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display:inline-block;
    width: 135px;
    height: 70px;
    background: #34495e;
    padding-top: 12px;
}

.logo-container a{
      margin: 0;
    padding: 0;
  text-decoration:none !important;
  display: inline-block;
}
.logo-holder{
      margin: 0;
    padding: 0;
  text-align:center;
}
.logo-holder a p {
    color:white;
}
.logo-holder a h3 {
    color:white;
}

/* Logo-2 */
.logo-2 h3 {
      margin: 0;
    padding: 0;
    color: #34495e;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    line-height:1;
}
.logo-2 p {
      margin: 0;
    padding: 0;
    font-size: 11px;
    padding-left: 0px;
    color: #34495e;
    font-weight: 600;  
    text-transform: uppercase;
}
  
  h2 {
    font-weight: 300;
    text-align: center;
  }
  
  p {
    position: relative;
  }

  a {
    color: #34495e;
  }
  
  #login-form-wrap {
    background-color: #fff;
    width: 55%;
    margin: 15% auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  }
  
  #login-form {
    padding: 0 60px;
  }
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #3ca9e2;
  }
  input[type="text"]:focus:invalid,
  input[type="email"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
  }
  input[type="text"]:valid ~ .validation,
  input[type="email"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
  }
  input[type="text"]:valid ~ .validation span,
  input[type="email"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
  }
  input[type="text"]:valid ~ .validation span:first-child,
  input[type="email"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  input[type="text"]:valid ~ .validation span:last-child,
  input[type="email"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }
  
  input[type="submit"] {
    border: none;
    display: block;
    background-color: #34495e;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  input[type="submit"]:hover {
    background-color: #637384;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #create-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
  }

.search-glass {
    max-width: 18px;
    max-height: 18px;
    position: relative;
    top: 3;
}

.torrit-icon {
    width: 18px;
    height: 18px;
    position: relative;
    top: 3;
}

.notifications {
    width: 15px;
    height: 15px;
    position: relative;
    top: 1;
}
